extends layout.pug

block content
    form(method="post", action="/form")
        h1 Create a user
        label(for="username") Username: 
        input(type="text", name="username", id="username", value=(newUser ? newUser.username : ""), required)
        br 
        br
        label(for="password") Password: 
        input(type="password", name="password", id="password", required)
        p: strong Choose gender
        label(for="boy") Boy: 
        input(type="radio", name="gender", value="boy", id="boy", checked=(newUser && newUser.gender === 'boy'), required)
        label(for="girl") Girl: 
        input(type="radio", name="gender", value="girl", id="girl", checked=(newUser && newUser.gender === 'girl'), required)
        p: strong Confirmation
        label(for="agree") I confirm all this
        input(type="checkbox", name="agree", id="agree", required)
        br
        br
        input(type="submit", value="Save")

    if error
        p(style="color:red")= error
        
    br
    a(href="/results") See all users