doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Task 1
    
    body
        nav
            p: a(href="/") Home
            p: a(href="/myroute/foo") My route
            p: a(href="/form") Create user
            p: a(href="/results") List of users
        hr
        block content