DOCTYPE(html)
html
    head
        title Task 1
    
    body
        nav
            p
                a(href="/") Home
            p
                a(href="/form") Create user
            p
                a(href="/results") List of users
        hr
        block content